body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    line-height: 40px;
}

h1 {
    padding-top: 30px;
    color: #fff;
    font-weight: 800;
}

h5 {
    padding-bottom: 30px;
}
h4{
    margin-top: 4px;
}
.text-center {
    text-align: center;
}

a, a:hover {
    text-decoration: none;
}

p {
    line-height: 30px;
    margin-bottom: 23px;
}
.imgstyle{
    width: 160px; height: 160px; 
    position: relative; right: 6px; bottom: 10px;
}
.space-bottom {
    height: 120px;
}
.section {
    background-color: white;
}
.section1{
    background-color:#4E63D1 ;
}
.circle-body {
width: 150px;
height: 150px;
margin: 0 auto 14px auto;
border: 5px solid rgb(192, 8, 8);
border-radius: 100%;
background-color: #FFFFFF;
}
.icon-set {
position: relative;
padding: 30px;
}
.color-facebook {
    color: #3B5998;
}
.color-twitter {
    color: #00aced;
}
.color-linkedin {
    color: #007bb6;
}
.color-pinterest {
    color: #cb2027;
}
.col-md-16{
    margin-left: 250px;}

.col-md-17{
    margin-left: 75px;} 
      
.col-sm-5{
    margin-top: 60px;}

.mondoimg{
    margin-top: 70px; width: 200px;height: 200px;
}
.hr1{
    width: 350px; height: 2px; position: relative; 
    right: 297px; background-color: black;}

.hr2{
    position: relative; left: 264px; margin-left: 0px; 
    height: 2px;;background-color: black;
 }  
.hr3{
    position: relative; left: 264px; bottom: 35px; 
    margin-left: 0px;  height: 2px;;background-color: black;
 } 
.hrdiv{
    display: block; float: left; width: 600px; height: 150px; background-color: white;
 }
.divimg {
        
        float: left; 
        display: block;
        position: relative;
        border-radius: 20%; 
        width: 30%; height: 300px;
        margin-top: 20px; margin-left: 20px;}  
     
.hoverr {
        opacity: 1;
        display: block;
        width: 100%;
        height: 100%;
        transition: .5s ease;
        backface-visibility: hidden;
        border-radius: 20%;}
      
.middle {
        transition: .5s ease;
        opacity: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center; } 
      
.divimg:hover .hoverr {
        opacity: 0.6; }
     
.divimg:hover .middle {
        opacity: 1;}
      
.text {
        cursor: pointer;   
        background-color: rgb(192, 8, 8);
        color: white;
        font-size: 16px;
        padding: 16px 32px;} 
        
.img-birbir{margin-top: 58px; width: 100%; height: 570px; } 
  
.kayancubuk{
height: .4rem;
width: 14%;
margin: 0;
background: red;
border: none;
transition:.3s ease-in-out;
}
.navbar-collapse>ul>.ev:hover ~ .kayancubuk{
    margin-left: -1px;
}   
.navbar-collapse>ul>.koleksiyon:hover ~ .kayancubuk{
    margin-left: 28.5%;
}
.navbar-collapse>ul>.iletişim:hover ~ .kayancubuk{
    margin-left: 56.5%;
}
.navbar-collapse>ul>.hakkımızda:hover ~ .kayancubuk{
    margin-left: 81.5%;
}
.navbar {
    height: 62px;
    font-weight: 500;
    font-size: 16px;}

.navbar-inverse {
    background: #000;
    border-color: #000;}

.navbar-inverse .navbar-nav > .active > a {
        background: #ffffff;}
    
.navbar-inverse .navbar-brand {
        color: #fff;
        font-weight: bolder;
        font-size: 25px;
        font-weight: 900;
        letter-spacing: 2px;}
    
.navbar-inverse .navbar-nav > li > a {
        color: #FFFFFF;} 
    
#footer {
    background-color: #000;
    color: #fff;
    padding: 30px;
}
.topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    margin-top: -45px;
  }
  
  /* Hide the links inside the navigation menu (except for logo/home) */
  .topnav #myLinks {
    display: none;
  }
  
  /* Style navigation menu links */
  .topnav a {
    color: white;
    padding: 20px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
  }
  
  /* Style the hamburger menu */
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: -15px;
    font-size: 22px !important;
  }
  
  /* Add a grey background color on mouse-over */

  
  /* Style the active link (or home/logo) */
  .active {
    color: white;
    background-color: black;
  }


  .dogie {
    box-shadow: inset 0 0 0 0 #bd0010;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
    cursor: pointer;
  }
  .dogie:hover {
    color: #fff;
    box-shadow: inset 410px 0 0 0 #bd0010;
  }

  .img-hover-zoom img {
    transform-origin: 45% 35%;
    transition: transform 1s, filter .5s ease-out;
  }
  
  /* The Transformation */
  .img-hover-zoom:hover img {
    transform: scale(2);
  }
@media screen and (min-width:992px) and (max-width:1199px){
.col-md-16{position: relative; left: 250px; bottom: 300px;}
.hrdiv{position: relative; right: 95px;} }

@media screen and (min-width:768px) and (max-width:991px){
.divimg{width: 40%;}.hrdiv{position: relative; right: 205px;}
.col-md-16{position: relative; right: 200px;}
.col-md-17{position: relative;right: 25px;}}

@media screen and (min-width:481px) and (max-width:767px){
.navbar-collapse{display: none;} .divimg{width: 85%;}
.hrdiv{width: 100%; margin-left: -340px;}
.col-md-16{position: relative;top: 10px; right: 210px;}.col-md-17{position: relative; right: 32px;}}

@media (max-width:425px){
    .collapse{
        display: none;
    }
    .col-md-17, .col-md-16 {
        margin-left: 0px !important;
    }
    .col-md-17{
        margin-bottom: 50px;
    }
    .img-circle{
        margin-left: 0px !important;
    }
    .img-birbir{
        height: 380px !important;
    }
}
@media (min-width:426px){
    .topnav{
        display: none;
    }
}
 



